/* General styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container styling */
.plants-container {
  padding: 0 20px;
}

/* Header styling */
h1 {
  font-size: 36px;
  color: #2e8b57;
  margin-bottom: 20px;
  text-align: center;  /* Center the header */
}

/* Plant card styling */
.plants-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.plant-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.plant-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.plant-card img {
  max-width: 100%;
  border-radius: 5px;
}

.plant-card h2 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.plant-card p {
  font-size: 14px;
  color: #777;
  margin: 5px 0;
}

/* Plant card button styling */
.plant-card button.details-btn {
  background-color: #4CAF50; /* Details button color */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Add margin to separate buttons */
  margin-right: 20px;
}

.plant-card button.care-guide-btn {
  background-color: #007bff; /* Care Guide button color */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Add margin to separate buttons */
}

.plant-card button:hover {
  background-color: #45a049;
}

.plant-card button.care-guide-btn:hover {
  background-color: #0056b3; /* Adjust hover color for Care Guide button */
}

/* Modal styling */
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content {
  position: relative;
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.ReactModal__Content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.ReactModal__Content p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 10px;
}

.ReactModal__Content button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.ReactModal__Content button:hover {
  background: rgb(255, 204, 0);
}

/* Pagination styling */
.pagination {
  display: flex;
  flex-wrap: wrap;  /* Allow wrapping to the next line */
  justify-content: center;  /* Center the pagination */
  margin: 20px 0;
  gap: 5px;  /* Add space between buttons */
}

.page-item {
  margin: 0;
}

.page-link {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-link:hover {
  background-color: #45a049;
}

.page-item.active .page-link {
  background-color: #2e7d32;
  pointer-events: none;
}
