/* Post.css */
.post-container {
  margin-bottom: 20px;
}

.post-container input[type="text"],
.post-container textarea {
  width: 100%;
  margin-bottom: 10px;
}

.post-container button {
  margin-right: 10px;
  cursor: pointer;
}

.post-container button.delete-button {
  color: white;
  background-color: red;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.post-container button.edit-button {
  color: white;
  background-color: dodgerblue;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.post-date,
.post-author {
  margin-top: 5px;
  font-style: italic;
}

.post-container .post-title {
  font-weight: bold; /* Make post titles bold */
}
