.home-container {
  padding: 0 20px;
}
.register-background {
    background-image: url('../assets/image4.png'); /* Ensure the path is correct */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.form-wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Make the form wider */
    width: 100%;
}
  